/* src/App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.main-content {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.sidebar h1 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  text-decoration: underline;
}

.deckgl-map {
  width: 100%;
  height: 100%;
  position: absolute; /* Ensure map fills the container */
  top: 0;
  left: 0;
}
